@import "bulma/sass/utilities/_all.sass"
@import "bulma/sass/base/_all.sass"
@import "bulma/sass/elements/button.sass"

$control-border-width: 10px;

.navbar-burger span:nth-child(1)
  top: calc(50% - 10px)
.navbar-burger span:nth-child(2)
  top: calc(50% - 3px)
.navbar-burger span:nth-child(3)
  top: calc(50% + 4px)

.navbar-burger span
  height: 3px
  width: 24px
  left: calc(50% - 12px)

.navbar-burger.is-active span:nth-child(1)
  transform: translateY(9px) rotate(45deg);
